@media only screen and (max-width: 699px) {
}

@media only screen and (min-width: 700px) {
  
  .totalPageHome {
    height: calc(100vh - 61.63px);
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }

  .header-homePage {
    height: 75%;
    width: 100%;
    font-size: 2rem;

    display: flex;
    justify-content: center;
   
  }
}
