


@media only screen and (max-width: 699px) {
}

@media only screen and (min-width: 700px) {
  
  .totalPageHome {
    height: calc(100vh - 61.63px);
    display: flex;
    flex-direction: column;
  }

  .bannerImage {
    --image: url('../public/src/assets/banner.jpg');

    height: 10rem;
    background-size: 100%;
    background-position: center;
    background: var(--image); 
    position: relative;
  }

  .cardUser {
    margin-top: 100px;
    height: 22rem;
    width: 17rem;
    background-color: #04D361;
    display: flex;
    position: absolute;
    top: 3rem;
    left: 1.5rem;
    border-radius: 3rem;
    padding: 1rem;
  }

  .avatar {
    --icon: url('../public/src/assets/iconAvatar.jpg');

    height: 8rem;
    width: 8rem;
    border-radius: 99px;
    background-color: white;
    display: flex;
    position: absolute;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 100%;
    background-position:  center;
    background:  var(--icon);
    background-repeat: no-repeat;
  }
}
